header{
    background-color: grey;
}
.blue{
    background-color: blue;
}
.green{
    background-color: yellowgreen;
}

.height-80{
    height: 80px;
}

.height-500{
    height: 500px;
}

.t-a{
    text-align: center;
}
